/Debug/
/Release/
/Libs/LuaJIT-2.0.3/luajit.vcxproj.user
/Libs/LuaJIT-2.0.3/src/host/buildvm_arch.h
/Libs/LuaJIT-2.0.3/src/*.obj
/Libs/LuaJIT-2.0.3/src/*.lib
/Libs/LuaJIT-2.0.3/src/luajit.exe
/Libs/LuaJIT-2.0.3/src/luajit.log
/Libs/LuaJIT-2.0.3/src/jit/vmdef.lua
/Libs/LuaJIT-2.0.3/src/lj_bcdef.h
/Libs/LuaJIT-2.0.3/src/lj_ffdef.h
/Libs/LuaJIT-2.0.3/src/lj_folddef.h
/Libs/LuaJIT-2.0.3/src/lj_libdef.h
/Libs/LuaJIT-2.0.3/src/lj_recdef.h
/Libs/LuaJIT-2.0.3/src/jit/vmdef.lua
/Libs/lpng151/projects/visualc71/Win32_LIB_Debug/
/Libs/lpng151/projects/visualc71/Win32_LIB_Release/
/Libs/lpng151/out/
/Libs/luasocket/src/socket.tlog/
/Libs/luasocket/src/*.log
/Libs/luasocket/src/*.obj
/Libs/luasocket/src/*.lib
/Libs/luasocket/src/*.pdb
/Libs/luasocket/src/*.idb
/Libs/luasocket/src/socket.vcxproj.FileListAbsolute.txt
/Libs/*.lib
/Libs/*.pdb
/UniMod2.vcxproj.user
/UniModNew.opensdf
/UniModNew.sdf
/*.suo
/ipch
/.vs/
